.share {
    width: 100%;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.23);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.23);
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.23);

}

.shareWrapper {
    padding:10px;
}

.shareTop{
    display: flex;
    margin: 20px;
    align-items: center;
}

.shareProfileImg {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 15px;
}

.shareInput {
    border: none;
    font-size: 20px;
    width: 90%;
}
.shareInput:focus{
    outline: none;
}

.shareHr {
    margin: 10px;
}

.shareBottom {
    display: flex;
    margin: 20px;
    align-items: center;
    justify-content: space-between;
}

.shareOptions {
    display: flex;
    margin-left: 30px;
}

.shareOption {
    display: flex;
    align-items: center;
    margin: 10px;
    margin-right: 80px;
}

.shareOptionText {
    font-size: 15px;
    color: gray;
}

.shareButton {
    border: none;
    padding: 12px;
    border-radius: 12px;
    background-color: rgb(64, 96, 251);
    color: white;
    font-weight: bold;
    font-size: 15px;
    margin-right: 20px;
}